body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#scroll { /*DELETE*/
  background-color: #EAEAEA;
}

h1 {
  font-size: 3.5rem;
  padding: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2.8rem;

  margin: 0 0 15px;
}

h4 {  /* projects header */
  margin: 0;
  font-weight: 700;

  /* font-size: 1.5rem; */
  /* line-height: 1.2; */
}

p {}

section {
  min-height: 70vh;
  /* FOR DEV Purposes - DELETE THIS LATER*/
}

/* Container */
.container-portfolio {
  /* width: 94%;
  margin: auto; */

  padding: 90px 0;
/*
was 70.
taken this from portfolio
padding-top: 20px;
padding-bottom: 20px;
70 to 90*/
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-about {
  /* Add padding then see if it looks better at 80% */
  width: 90%;
  margin: auto;

  padding: 90px 0;
  /* similar to portfolio */
}

.container-contact {
  width: 80%;
  margin: auto;

  padding: 90px 0;
  /* similar to portfolio and about */
}

/* Buttons */
.button {
  font-size: 1rem;
  padding: 15px;
  background-color: #64A19D;
  color: #FFF;
  border: 0;
  /* #f4623a;  */
  border-radius: 5px;
  /* color: #FFF; */
}

#title button:hover {
  background-color: red;
}

.button:hover {
  opacity: 0.9;
}

/* Navbar */
nav {
  padding: 20px 70px;
  position: relative;
  /*if sticky not supported, falls back to*/
  transition: background-color 0.9s;
  display: flex;
  align-items: center;
}

.nav-scroll {
  background-color: #FFF;
}

/* scroll text and textS added to differentiate
between branding and navitems */
.scroll-text, .scroll-texts  {
  color: #000 !important;
}
/* hover css is also automatically added when
scroll-texts class is added to an element */
.scroll-texts:hover {
  color: rgba(0, 0, 0, 0.65) !important;
}

@supports (position: sticky) {

  /*Sticky is only supported by 90% of browsers*/
  nav {
    position: sticky;
    top: 0;
  }
}

.branding {
  text-decoration: none;
  color: #FFF;
  font-family: cursive;
  /*yet to be decided*/
  font-size: 2rem;
  font-weight: 900;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto !important;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin-left: 25px;
  margin-right: 25px;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* navbar icon */
#navbar-icon {
  /* start off hidden then ONLY shows on mobile screens */
  display: none;
  /* positions navbar icon */
  position: absolute;
  right: 15px;
  top: 15px;
  /* top, right
can be altered to desired output */

  background: transparent;
  padding: 14px 16px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
#navbar-icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* Header */
#header {
  background-image: url("../images/imgTitle.jpg");
  background-color: #CCC;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
}

#title {
  text-align: center;
  padding: 100px;
}

#title p {
  font-family: fantasy;
  /* p tag ? */
  font-size: 1.5rem;
  margin: 2% auto;
}

/* Portfolio */
#portfolio {
  text-align: center;

}
/* Added for the subheading for Projects/Portfolio */
.portfolioTitle {
  width: 80%;
  margin: auto;
}

.portfolioTitle p{
  color: #6c757d;

  margin: 0 0 65px;
}

#portfolio img {
  width: 100%;
}


.project {
  display: inline-block;
  width : 30%;

  margin: 10px 10px;
}

.project-image-container{
  position: relative;

  cursor: pointer;
}

.project-hover {
  position: absolute;
  /* left: 0; */
  top: 0;

  width: 100%;
  height: 100%;
  /* background-color: rgba(254,209,54,.9);  taken to individual class
  also as that class can href to respective location so 2 uses therefore ..*/
  opacity: 0;
  /* This hides it - until the element is hovered */
  transition: all linear .8s;
}

/* when the project image is hovered, visibility comes on via opacity: 1 */
.project-hover:hover {
  opacity: 1;
}

/* This centers the + icon in the centre */
.project-hover-content {
  position: absolute;
  top: 38%;
  /* 50 doesn't centre it */
  width: 100%;
  /* height: 100%; not needed offset by 40% + bg-color set on parent element*/
}

.project-plus {
  color: #FFF;
  font-size: 3rem;
  font-weight: 900;
}


.project-caption {
  background-color: #F8F9FA;
/* #F8F9FA */
  padding: 15px;
}

/* Project colours  */
.lucky {
  background-color: rgba(34,120,207,.9);
}

.banana {
  background-color: rgba(251,213,26, 0.9);
}

.orange {
  background-color: rgba(255,165,0,.9);
}

.dicee {
  background-color: rgba(57,62,70,.9);
}

.drum {
  background-color: rgba(40,49,72,.9);
}

.simon {
  background-color: rgba(3,32,62,.9);
}

.tic-tac-toe {
  background-color: rgba(234,234,234,.98);
  /* 98% instead of 90, because its grey-ish color.
  this means '+' icon color change is not required */
}

.bitcoinAPI {
  background-color: rgba(234,234,234,.95);
  /* See tic tac toe */
}

.newsletter-signup {
  background-color: rgba(245,245,245,.98);
}

.to-do-list {
  /* background-color: rgba(228,234,252,.9); */
  background-color: rgba(165,133,225,.9);

  /* Second one is better, I think. */
}

.blog-website {
  background-color: rgba(42,187,156,.9);
}







/* About me */
#about {
  background-color: #f8f9fa;
  text-align: center;
  min-height: 600px;

}

.bioImg-container{
  float: left;
  /* bioImg-container was added as img was float so, it was not "respecting the MARGIN of
  skill container".

  Therefore this container was created and img size/width set to 80%.
  This was it respects the margin and, Looks Good on the CURRENT "personalStatement" (size). */
}

#about img {
  width: 80%;
  /* This is 80% of bioImg-container

  and bioImg-container only has float:left and no width assigned.
  Look out for possible debugging a future issue here. */
}

#about p {
  font-size: 1.2rem;
}

.skill {
  display: block;
  width: 100%;

  clear: both;
  margin: 5% auto;
}

/* Skills fontawesome icons*/
.skill-icon {
  font-size: 3rem;
}

.fa-html5:hover {
  color: #EF6531;
}

.fa-css3-alt:hover {
  color: #029AE5;
}

.fa-js:hover {
  color: #F6DE38;
}

.fa-node-js:hover {
  color: #23B45D;
}

.fa-npm:hover {
  color: #CA3739;
}

.fa-database:hover {
  color: #006790;
}

.fa-php:hover {
  color: #6E81B6;
}

.fa-java:hover {
  color: #F6992E;
}

.fa-java:active {
  color: #E72F27;
}

/* Get in touch - call to action*/
#contact {
  display: flex;
  vertical-align: middle;
  text-align: center;

}

#contact h2 {
  font-size: 3rem;
  margin: 0;
}

#contact p {
  font-size: 1.5rem;
  margin-top: 25px;
  margin-bottom: 30px;
}

/* Footer */
#footer {
  text-align: center;
  background-color: #EAEAEA;
  overflow: hidden;
  padding: 50px;
  /*padding change your liking*/
  color: #8F8F8F;
}

#footer a {
  color: inherit;
}

/* Font Awesome icon */
.footer-icon {
  font-size: 2.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

.in-icon:hover {
  color: #0073b1;
}

.git-icon:hover {
  color: #666;
}

.gmail-icon:hover {
  color: #DB473D;
}

/* Media Queries */
@media screen and (max-width:1024px) {
  /*This has to be on top of 800px width - if not it doesn't work - flow of document*/
  .project {
    display: inline-block;
    width : 40%;
    /* show 2 project (items) only in screen smaller than 1024 */
    margin: 12px 20px;
  }
}

@media screen and (max-width:800px) {
  .bioImg-container {
    float:none;
    /* width  - future changes?*/
  }
/* display 1 project per line, 80% of screen */
  .projects{
    display: block;
    width: 80%;
    margin: auto;
  }
  .project {
    display: block;
    width : 100%;

    margin: 38px 0;
  }
  .portfolioTitle p {
    margin: 0 0 55px;
  }
}

/* FIXING the Whi-te space on the right */
@media screen and (max-width: 600px) {
  nav {
    display: block;
    /* flex to block */
  }
  ul {
    margin-top: 15px;
    /* adding margin between branding and nav items */
  }

  .projects{
    width: 90%;
    margin: auto;
  }
  .project {
    margin: 25px 0;
  }
  .portfolioTitle p {
    margin: 0 0 40px;
  }
}

@media screen and (max-width: 520px) {
  nav {
    text-align: center;
/* conscious decision due to style perference,
 could've been done max-width: 600px.*/
  }
}

/* nav icon to be shown only on mobiles  */
/* max-DEVICE-width:410px - 500/620px   (- 620 for dev?) */
@media (min-width:338px) and (max-width:620px) {/* DEVICE HERE*/
  #navbar-icon {
    display: block;
  }
  #navbar-items {
    display: none;
  }
  /* hide list and show icon */
  nav {
    display: block;
    /* block added because it shows the links inline next to the icon  at certain res*/
    text-align: left;
    /* aligned left for the icon to be on the right */
  }
  .branding {
    display: block;
  }
  ul {
      text-align: center;
  }
  li {
    margin: 8px auto;
  }

  .nav-link:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 430px) {
  /* wh-ite space issue only started around 340px but styling changed earlier for styling reasons*/

  #title {
    margin-top: 40px;
    padding: 10px;
    /* on smaller screens (such as 300px), the padding on branding remains 100px
    causing wh-ite space in right of the screen

    - added margin top 40px (to keep the text/heading/title 'centred')
    */
  }

  ul {
    display: block;
    margin: 12px auto !important;
    /* flex to block for whi-te space on right hand side (rhs) */
  }
  li {
    margin: 8px auto;
    /* margin between the lists */
  }

  .project {
    margin: 18px 0;
  }
}



@media screen and (max-width: 340px) {
/* margins pretty much no longer necessary on most of the elements as the screen
are too small - causing white-space on rhs */
  #title {
    margin-top: 0;
  }
  ul {
    /* display: block; */
    margin: 7px auto !important;
  }
  li {
    margin: 2px auto;
  }

/* 255px and under ( starts at 254) shows wh-ite space but added here for styling perference */
  nav {
    padding: 10px 30px;
  }
  h1, h2 {
    font-size: 2rem;
  }
/* these solve the whi-te space issue for 255 and under */


  /* styling */
  #header {
    min-height: 580px;
  }

/* styling below are to proportionalise the page in respect to the NEW heading size.*/
  .branding {
    font-size: 1.8rem;
  }

/* possible further improvements -

1. styling icons to around half of h1/h2 or .branding font-size /
2. change the paragraph (or Heading tag) on about me section to sort the ratio heading-paragraph
3. contact - GET IN TOUCH section heading can at this size me not same but more similar to rest
              of the heading tags. - reduce the paragraph accoringly, button padding slightly less
                                    padding on #contact can depend on if it creates white-space problem
                                    otherwise the padding can be kept or reduced accordingly.s */
  .skill-icon, .footer-icon {
    font-size: 1.8rem;
  }
}





/* 195px - it starts again - wh-ite space on the right but the screen is so small,
    it is negligible (esp in era of big mobile screens) therefore
    it will not be necessary to implement a solution
*/


/* For future reference, CSS variable could've been used
to possible proportionalise these (esp header and paragraphs) more easily.
*/
